<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>PayPal NodeJS App</title>
</head>
<body>
<h1>Windows 10 Enterprise Edition</h1>
<h2>Buy for $100</h2>

<form action="/pay" method="post">
    <input type="submit" value="Buy">
</form>
</body>
</html>